{{> header}}

<div class="movies">

    <h1>{{title}}</h1>

    <script type="text/javascript">
        function insult() {

            var url = "/birthdayInsult/" + document.getElementById("birthday").value;

            $.ajax
            ({
                type: "GET",
                url: url,
                success: function(result) {
                    document.getElementById("result").innerText = result;
                },
                error: function () {
                    alert("Couldn't fetch data!");
                }
            });
        }
    </script>

    <form method="get">
        <input type="text" id="birthday" />
        <input type="button" value="insult me!" onclick="insult()" />
    </form>

    <div>
        <h3 id="result"></h3>
    </div>
</div>


{{> footer}}
